* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
}

:root {
    --dark-grey: #3c3b3d
    --light-grey: #8e8e8e
    --lighter-grey: #dfdfdf
    --lightest-grey: #e9e9e9
}

/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1%;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 0.5em 0.5em;   
}

nav a {
    text-decoration: none;
    color: #3c3b3d;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.logo > p {
    display: inline;
    font-weight: bold;
    color: #3c3b3d;
}

.logo > span {
    font-weight: medium;
    color: #8e8e8e;
}

.mobile-nav {
    display: none;
}

/*Learn Something New*/
.Learn-Something-New {
    background-color: #dfdfdf;
    display: flex;
    padding: 5% 3%;
}

.Learn-Something-New button {
    background-color: #3c3b3d;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    color: white;
}

.Image1 {
    width: 85%;
}

.right1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1%;
    padding: 0 2%;
}

.right1 > h1, h4 {
    padding: 5%;
    color: darkgray;
}

.right1 a {
    color: white;
    text-decoration: none;
}

/*It Doesn't Hurt*/

.It-doesnt-hurt {
    display: grid;
    grid-template-columns: 3fr 2fr;
    color: #3c3b3d;
}

.left2 {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.left2 img {
    width: 100%;
}

.left-info1 {
    padding-bottom: 2%;
}

.left-info1 h2,p {
    padding: 2%;
}

.left-info1 p {
    font-size: 80%;
}

.right2 {
    display: flex;
    flex-direction: column;
}

.right2 img {
    width: 10rem;
}

.right2 h4 {
    font-size: 140%;
}

.right2 button {
    background: none;
    border: 0;
}

.right2 a {
    text-decoration: none;
}

.orientation, .campus, .guest {
    display: flex;
    border: 1px solid #dfdfdf;
    padding: 2%;
}

.orientation-info, .campus-info, .guest-info {
    padding: 0 5%;
    margin-top: 4%;
    font-size: 80%;
}

.orientation-info > *, .campus-info > *, .guest-info > * {
    padding: 2% 0;
}

.guest {
    background-color:#8e8e8e;
    margin: 0 0 2% 0;
}

/*Start Learning*/

.Start-Learning {
    background-color: #e9e9e9;
    padding: 2% 5% 8% 5%;
}

.Start-Learning > h1 {
    text-align: center;
    color: #3c3b3d;
    padding: 4%;
}

/*Start Learning Grid*/

.sl-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

.sl-grid-wrapper img {
    width: 100%;
}

/*Start Learning Individual Card*/

.sl-grid-wrapper > * {
    display: flex;
    flex-direction: column;
}

.sl-info {
    background-color: white;
    padding: 5%;
}

.sl-info > * {
    padding: 3% 0;
}

.sl-info > p {
    font-size: small;
    color: #8e8e8e;
}

/*Thesis*/

.Thesis > h1 {
    color: #8e8e8e;
    text-align: center;
    padding: 5%;
}

.thesis-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}


/*Urban*/

.urban-container {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

.urban-video > video {
    width: 100%;
}

.urban-info {
    padding: 1% 0 5% 0;
}

.urban-info > * {
    padding: 1% 0;
}

.urban-info > p {
    font-size: small;
    color: #8e8e8e;
}

.thesis-right {
    display: flex;
    flex-direction: column;
}

.thesis-right img {
    width: 10rem;
}

.thesis-right p {
    font-size: small;
    color: #8e8e8e
}

.fisma, .Now-and-Then {
    display: flex;
    padding: 5%;
}

.fisma {
    background-color: lightgray;
}

.Fisma-info, .Now-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Fisma-info > *, .Now-info > * {
    padding: 1%;
    margin: 5% 8%;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #8e8e8e;
    margin-bottom: 1%;
}

footer > * {
    font-size: small;
    color: #3c3b3d;
    margin-top: 0;
    padding-top: 0.5%;
}

footer ul {
    display: flex;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #3c3b3d;
}

footer li {
    padding: 0 1em;
}

/*Mobile Responsiveness*/

@media only screen and (max-width: 580px) {
    /*Navigation*/
    nav > .logo, nav > ul {
        display: none;
    }

    .mobile-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-gap: 70%;
        margin: 2% 3%;
    }

    /*Learn Something New*/
    .Learn-Something-New {
        flex-direction: column;
        padding: 0 0 5% 0;
    }

    .Learn-Something-New img {
        width: 100%;
    }

    .right1 button {
        background-color: lightgray;
        border: none;
        font-size: 100%;
    }

    /*It Doesn't Hurt*/
    .left2 {
        display: none;
    }

    .It-doesnt-hurt {
        grid-template-columns: 1fr;
    }

    .right2 > * {
        display: flex;
        flex-direction: column;
        font-size: 120%;
    }

    .orientation, .campus, .guest {
        display: none;
    }

    .right2 img {
        width: 100%;
    }

    .orientation-mobile, .campus-mobile, .guest-mobile {
        display: inline;
    }

    .guest {
        background-color: white;
    }

    /*Start Learning*/
    .Start-Learning {
        background-color: white;
    }

    .sl-grid-wrapper {
        display: none;
    }

    .sl-mobile {
        display: flex;
        flex-direction: column;
    }

    .sl-mobile > * {
        background-color: lightgray;
        color: darkgray;
        height: 5rem;
        margin: 1%;
        text-decoration: none;
    }

    .sl-mobile h1 {
        padding: 5%;
    }

    /*Thesis*/
    .urban-info, .thesis-right {
        display: none;
    }

    .thesis-grid {
        grid-template-columns: 1fr;
    }

    /*Footer*/
    footer {
        padding: 10% 0 2%;
    }

    footer ul {
        display: none;
    }

    footer p {
        font-size: 100%;
    }
}